<!DOCTYPE html>
<html>
  <head>
    <title>451</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <center>
        <h1><font face="Helvetica">BINDER 451</font> </h1>
        <div class="container">

          <!-- child template -->
            <center>
          {% block content %}{% endblock %}

          <!-- errors -->
          {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
          {% endif %}

          <!-- messages -->
          {% for message in get_flashed_messages() %}
            {{ message }}
          {% endfor %}
            </center>
        </div>
    </center>
  </body>
</html>
