{% extends "base.html" %}
{% block content %}

<h1>Please register</h1>
<br>
<form action="" method="post">
  <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
  <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
  <input type="password" placeholder="Confirm Password" name="password2" value="{{request.form.password2 }}">
  <input class-="btn btn-default" type="submit" value="Register">
</form>

{% endblock %}
